<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">
            Hello, {{ user.first_name }}.
        </h1>
            {% if isTraining %}
                <br>
                <p> Your room temperature: </p>
            {% else %}
                <br>
                <p> Welcome to GymTimer </p>  
            {% endif %}  
    </div>
</header>