<section class="page-section bg-light text-secondary mb-0" id="Timer">
    <div class="container d-flex align-items-center flex-column">
        <!-- Timer Section Heading-->
        
            {% if isTraining == True %}
                <h2 class="page-section-heading text-center text-uppercase text-secondary">
                    Session time
                </h2>
                <h1 class="timer" id="noclock">
                    <p id="datetime" hidden>{{userFirstRow.log_time}}</p>
                </h1>
            {% else %}
                <h2 class="page-section-heading text-center text-uppercase text-secondary">
                    Current time
                </h2>
                <h1 class="timer" id="clock" display="hidden">
                    No session started.
                </h1>
            {% endif %}
        
        
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-dumbbell"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Date Section Content-->
        
        {% if isTraining == True %}
            <p class="h2 mb-0">
                    Training date
                    <section class="h4" id="training_date">

                    </section>
            </p>
        {% else %}
            <p class="h2 mb-0">
                Today's date
                <section class="h4" id="date">

                </section>
            </p>
        {% endif %}
        
    </div>
</section>