<section class="page-section bg-primary text-light mb-0" id="Sessions">
    <div class="container d-flex align-items-center flex-column">
        <h2 class="page-section-heading text-center text-uppercase text-light">Sessions</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fa-solid fa-dumbbell"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Sessions Section Heading-->
        <div class="row">
            <div class="col-lg-6 ms-auto">
                
                <p class="lead">
                    Here you can see your last 10 training sessions.<br>
                    If you are interested in checking all sessions click the button below.
                    <br>
                    <div class="d-grid">
                        <a class="btn btn-secondary btn-block " href="{{ url_for('user_sessions') }}">SESSIONS</a>
                    </div>
                    
                </p>
            </div>
            <div class="col-lg-6 me-auto">
                <div class="card bg-light border-secondary">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, row in userTrainings.iterrows()%}
                        <tr>
                            <th scope="row">{{ index+1 }}</th>
                            <td>{{ row.log_time.date() }}</td>
                            <td>{{ row.log_time.time() }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>